.quiz-question-editor {
  width: 600px;
  margin: 20px auto;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-header {
  display: flex;
  margin-bottom: 15px;
}

.question-title-input,
.question-points-input,
.question-type-select {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.question-body {
  margin-bottom: 15px;
}

.question-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 100px;
}

.answers-section {
  margin-bottom: 15px;
}

.answer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.answer-textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 50px;
}

.add-answer-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  margin-top: 10px;
}

.correct-answer-radio {
  margin-right: 10px;
}

.edit-icon,
.delete-icon {
  margin-left: 10px;
}

.cancel-button,
.save-update-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.add-answer-button {
  background: #ffffff;
  color: rgb(240, 9, 9);
}

.cancel-button {
  background: #ccc;
}

.save-update-button {
  background: #f60000;
  color: white;
}
.choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.icons-container {
  display: flex;
  align-items: center;
}

.choice .choice-textarea {
  flex-grow: 1;
  margin-right: 10px;
}
